name: CI workflow

on: pull_request

jobs:
  ci-job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install
      run: npm ci
    - name: Tests
      run: npm test
    - name: Tests E2E
      run: npm run test:e2e:ci
